---
import { CldImage } from "astro-cloudinary";
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  subtitle: string;
  date: string;
  url?: string;
  techStack: string[];
  imageSrc?: string;
  altImagePosition?: string;
}

const {
  title,
  subtitle,
  date,
  url,
  techStack,
  imageSrc,
  altImagePosition,
}: Props = Astro.props;

const styles = {
  headerText: {
    fontSize: "28px",
    fontWeight: 600,
  },
  dateText: {
    fontSize: "15px",
    fontWeight: 200,
  },
  subText: {
    fontSize: "18px",
    fontWeight: 200,
  },
};
---

<a href={url} class="block no-underline text-inherit">
  <div
    class="flex flex-col transition-transform duration-300 ease-in-out hover:scale-110"
  >
    <div
      class="relative aspect-[16/9] rounded-[40px] bg-white shadow-[0px_10px_15px_var(--blue-7)] overflow-hidden"
    >
      {
        imageSrc ? (
          <CldImage
            src={imageSrc}
            width={800}
            height={500}
            class={`absolute inset-0 w-full h-full object-cover p-0 m-0 ${altImagePosition}`}
          />
        ) : (
          <CldImage
            src="no-image_wgtpif"
            crop={{
              type: "fill",
              source: true,
            }}
            class="absolute inset-0 w-full h-full object-fill p-0 m-0"
          />
        )
      }
      <div class="absolute top-6 right-8 flex gap-0.5 z-10">
        {techStack ? techStack.map((skill) => <Icon name={skill} />) : null}
      </div>
    </div>
    <div class="flex flex-col gap-1">
      <div class="flex justify-between mt-5">
        <p style={styles.headerText}>{title}</p>
        <p style={styles.dateText}>{date}</p>
      </div>
      <p style={styles.subText}>{subtitle}</p>
    </div>
  </div>
</a>
