---
import Card from "./Card";
import SectionTitle from "./SectionTitle";
const projects = await Astro.glob("../pages/projects/*.md");
---

<div id="Projects">
  <SectionTitle title="PROJECTS" />

  <div id="content">
    {
      projects.map((project) => {
        return (
          <Card
            title={project.frontmatter.title}
            subtitle={project.frontmatter.description}
            url={project.url}
            date={project.frontmatter.date}
            techStack={project.frontmatter.techStack}
            client:load
          />
        );
      })
    }
  </div>
</div>

<style>
  #Projects {
    min-height: 90vh;
  }

  #content {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 104px; /* Gap between grid items */
  }

  @media (min-width: 2500px) {
    #content {
      grid-template-columns: repeat(3, 1fr); /* 2 columns */
    }
  }

  .title {
    padding-top: 150px;
    padding-bottom: 10px;
    width: 80%;
    text-align: center;
    margin: auto;
    display: block;
  }
</style>
