---
import type { CollectionEntry } from "astro:content";
import Card from "./Card.astro";
import SectionTitle from "./SectionTitle";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
// const projectList = Object.values(projects);
---

<div id="Projects">
  <SectionTitle title="PROJECTS" />

  <div id="content">
    {
      projects.map((project) => {
        return (
          <Card
            title={project.data.title}
            subtitle={project.data.description}
            date={project.data.date}
            techStack={project.data.techStack}
            url={`/projects/${project.id}`}
          />
        );
      })
    }
  </div>
</div>

<style>
  #Projects {
    min-height: 90vh;
  }

  #content {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 104px; /* Gap between grid items */
  }

  @media (min-width: 2500px) {
    #content {
      grid-template-columns: repeat(3, 1fr); /* 2 columns */
    }
  }

  .title {
    padding-top: 150px;
    padding-bottom: 10px;
    width: 80%;
    text-align: center;
    margin: auto;
    display: block;
  }
</style>
