---
import { getCollection, render, type CollectionEntry } from "astro:content";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import ProjectProse from "../../components/styling/ProjectProse.astro";
import SectionTitle from "../../components/SectionTitle";

// inject components
const components = { SectionTitle };
// Generate routes for each project
export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project: CollectionEntry<"projects">) => ({
    params: { id: project.id },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<ProjectLayout
  title={project.data.title}
  description={project.data.description}
>
  <!-- 
  {
    project.data.tags && (
      <div class="tags">
        {project.data.tags.map((tag) => (
          <span class="tag">{tag}</span>
        ))}
      </div>
    )
  } -->
  <ProjectProse>
    <h1>{project.data.title}</h1>
    <Content components={components} />
  </ProjectProse>
</ProjectLayout>
